In [1]:
import os
import pandas as pd
import requests

https://www.indexmundi.com/map/?t=0&v=69&r=af&l=en (Porcentaje abajo de la línea de pobreza)

https://www.indexmundi.com/map/?t=0&v=2229&r=af&l=en (Porcentaje de jóvenes desempleados)

https://www.indexmundi.com/map/?t=0&v=74&r=af&l=en (Porcentaje de desempleados, general)

https://www.indexmundi.com/map/?t=0&v=72&r=af&l=en (Fuerza laboral)

Todo en África. Trabajaré en base a estas tablas.

In [2]:
file = 'pobreza.csv'

if not os.path.isfile(file):
    url = 'https://www.indexmundi.com/map/?t=0&v=69&r=af&l=en'
    html = requests.get(url).content
    pobreza_lista = pd.read_html(html)
    pobreza = pobreza_lista[1]
    pobreza.to_csv('pobreza.csv')
else:
    pobreza = pd.read_csv(file)

pobreza

                              Country  Population below poverty line (%)  Year
0                            Zimbabwe                                 72  2019
1                          Madagascar                                 71  2019
2                        Sierra Leone                                 70  2019
3                             Nigeria                                 70  2019
4                       Guinea-Bissau                                 67  2019
5               Sao Tome and Principe                                 66  2019
6                             Burundi                                 65  2019
7   Congo, Democratic Republic of the                                 63  2019
8                           Swaziland                                 63  2019
9            Central African Republic                                 62  2019
10                            Lesotho                                 57  2019
11                               Togo                                 55  2019
12                             Zambia                                 54  2019
13                            Liberia                                 54  2019
14                             Malawi                                 51  2019
15                            Eritrea                                 50  2019
16                        Gambia, The                                 48  2019
17                             Guinea                                 47  2019
18                               Chad                                 47  2019
19                            Senegal                                 47  2019
20                              Sudan                                 47  2019
21             Congo, Republic of the                                 47  2019
22                      Cote d'Ivoire                                 46  2019
23                         Mozambique                                 46  2019
24                              Niger                                 45  2019
25                            Comoros                                 45  2019
26                  Equatorial Guinea                                 44  2019
27                       Burkina Faso                                 40  2019
28                         Seychelles                                 39  2019
29                             Rwanda                                 39  2019
30                             Angola                                 37  2019
31                              Benin                                 36  2019
32                              Kenya                                 36  2019
33                               Mali                                 36  2019
34                              Gabon                                 34  2019
35                         Mauritania                                 31  2019
36                         Cape Verde                                 30  2019
37                           Cameroon                                 30  2019
38                           Ethiopia                                 30  2019
39                            Namibia                                 29  2019
40                              Egypt                                 28  2019
41                              Ghana                                 24  2019
42                           Djibouti                                 23  2019
43                            Algeria                                 23  2019
44                           Tanzania                                 23  2019
45                             Uganda                                 21  2019
46                           Botswana                                 19  2019
47                       South Africa                                 17  2019
48                            Tunisia                                 16  2019
49                            Morocco                                 15  2019
50                          Mauritius                                  8  2019

In [3]:
file = 'desempleo_joven.csv'

if not os.path.isfile(file):
    url = 'https://www.indexmundi.com/map/?t=0&v=2229&r=af&l=en'
    html = requests.get(url).content
    desempleo_joven_lista = pd.read_html(html)
    desempleo_joven = desempleo_joven_lista[1]
    desempleo_joven.to_csv('desempleo_joven.csv')
else:
    desempleo_joven = pd.read_csv(file)

desempleo_joven

,Country,"Unemployment, youth ages 15-24 (%)",Year
0,South Africa,53,2018
1,Libya,49,2012
2,Swaziland,47,2016
3,Namibia,45,2016
4,Angola,39,2014
5,Botswana,36,2010
6,Gabon,36,2010
7,Tunisia,35,2013
8,Lesotho,34,2013
9,Cape Verde,33,2017
10,Egypt,30,2017
11,Algeria,26,2016
12,Ethiopia,25,2016
13,Mauritius,24,2017
14,Zambia,24,2017
15,Rwanda,23,2017
16,Morocco,22,2016
17,Sao Tome and Principe,21,2012
18,Sudan,20,2009
19,Zimbabwe,17,2014
20,Mauritania,15,2012
21,Ghana,15,2015
22,Uganda,15,2017
23,"Gambia, The",13,2012
24,Nigeria,12,2016
25,Seychelles,11,2017
26,Sierra Leone,9,2014
27,"Congo, Democratic Republic of the",9,2012
28,Malawi,9,2017
29,Senegal,8,2015
30,Mozambique,7,2015
31,Cameroon,6,2014
32,Benin,6,2011
33,Cote d'Ivoire,4,2016
34,Togo,4,2015
35,Tanzania,4,2014
36,Burundi,3,2014
37,Liberia,2,2016
38,Mali,2,2016
39,Madagascar,1,2012
40,Guinea,1,2012
41,Niger,1,2014

In [4]:
file = 'desempleo.csv'

if not os.path.isfile(file):
    url = 'https://www.indexmundi.com/map/?t=0&v=74&r=af&l=en'
    html = requests.get(url).content
    desempleo_lista = pd.read_html(html)
    desempleo = desempleo_lista[1]
    desempleo.to_csv('desempleo.csv')
else:
    desempleo = pd.read_csv(file)

desempleo

                     Country  Unemployment rate (%)  Year
0               Burkina Faso                     77  2004
1                    Senegal                     48  2007
2                   Djibouti                     40  2017
3                      Kenya                     40  2013
4     Congo, Republic of the                     36  2014
5                    Namibia                     34  2016
6                      Libya                     30  2004
7                    Lesotho                     28  2014
8                      Gabon                     28  2015
9                  Swaziland                     28  2014
10              South Africa                     28  2017
11                Mozambique                     25  2017
12                    Malawi                     20  2013
13                  Botswana                     20  2013
14                     Sudan                     20  2017
15                  Ethiopia                     18  2012
16                   Nigeria                     17  2017
17                   Tunisia                     16  2017
18              Sierra Leone                     15  2017
19                    Zambia                     15  2008
20     Sao Tome and Principe                     12  2017
21                     Egypt                     12  2017
22                     Ghana                     12  2015
23                   Algeria                     12  2017
24                  Zimbabwe                     11  2014
25                  Tanzania                     10  2014
26                Mauritania                     10  2017
27                   Morocco                     10  2017
28             Cote d'Ivoire                      9  2013
29                    Uganda                      9  2014
30                Cape Verde                      9  2017
31         Equatorial Guinea                      9  2014
32                      Mali                      8  2017
33                 Mauritius                      7  2017
34  Central African Republic                      7  2017
35                      Togo                      7  2016
36                    Angola                      7  2016
37                   Comoros                      7  2014
38                   Eritrea                      6  2017
39                  Cameroon                      4  2014
40                Seychelles                      3  2017
41                   Liberia                      3  2014
42                    Rwanda                      3  2014
43                    Guinea                      3  2017
44                Madagascar                      2  2017
45                     Benin                      1  2014
46                     Niger                      0  2017

In [5]:
file = 'fuerza.csv'

if not os.path.isfile(file):
    url = 'https://www.indexmundi.com/map/?t=0&v=72&r=af&l=en'
    html = requests.get(url).content
    fuerza_lista = pd.read_html(html)
    fuerza = fuerza_lista[1]
    fuerza.to_csv('fuerza.csv')
else:
    fuerza = pd.read_csv(file)

fuerza

                              Country  Labor force  Year
0                             Nigeria     60080000  2017
1                            Ethiopia     52820000  2017
2   Congo, Democratic Republic of the     31360000  2017
3                               Egypt     29950000  2017
4                            Tanzania     24890000  2017
5                        South Africa     22190000  2017
6                               Kenya     19600000  2017
7                              Uganda     15840000  2015
8                          Madagascar     13400000  2017
9                          Mozambique     12900000  2017
10                             Angola     12510000  2017
11                              Ghana     12490000  2017
12                            Morocco     12000000  2017
13                              Sudan     11920000  2007
14                            Algeria     11820000  2017
15                           Cameroon      9912000  2017
16                      Cote d'Ivoire      8747000  2017
17                       Burkina Faso      8501000  2016
18                           Zimbabwe      7907000  2017
19                             Malawi      7000000  2013
20                            Senegal      6966000  2017
21                             Zambia      6898000  2017
22                              Niger      6500000  2017
23                               Mali      6447000  2017
24                             Rwanda      6227000  2017
25                               Chad      5654000  2017
26                             Guinea      5558000  2017
27                            Burundi      5012000  2017
28                            Somalia      4154000  2016
29                            Tunisia      4054000  2017
30                              Benin      3662000  2007
31                       Sierra Leone      2972000  2017
32                            Eritrea      2710000  2017
33                               Togo      2595000  2007
34           Central African Republic      2242000  2017
35             Congo, Republic of the      2055000  2016
36                            Liberia      1677000  2017
37                         Mauritania      1437000  2017
38                           Botswana      1177000  2017
39                              Libya      1114000  2017
40                            Namibia       956800  2017
41                            Lesotho       930800  2017
42                        Gambia, The       777100  2007
43                      Guinea-Bissau       731300  2013
44                          Mauritius       633900  2017
45                              Gabon       557800  2017
46                          Swaziland       427900  2016
47                           Djibouti       294600  2012
48                            Comoros       278500  2016
49                         Cape Verde       196100  2007
50                  Equatorial Guinea       195200  2007
51                     Western Sahara       144000  2010
52              Sao Tome and Principe        72600  2017
53                         Seychelles        47210  2017

Practica los ejercicios del capitulo 3 de https://jakevdp.github.io/PythonDataScienceHandbook/03.02-data-indexing-and-selection.html

In [6]:
#Usando la tabla de porcentaje de pobreza, accedemos a las columnas que queramos, por ejemplo, los países.
#También se indica el tipo de objeto que contiene la columna, en el caso de los países, tenemos objetos (caracteres).

pobreza['Country']

0                              Zimbabwe
1                            Madagascar
2                          Sierra Leone
3                               Nigeria
4                         Guinea-Bissau
5                 Sao Tome and Principe
6                               Burundi
7     Congo, Democratic Republic of the
8                             Swaziland
9              Central African Republic
10                              Lesotho
11                                 Togo
12                               Zambia
13                              Liberia
14                               Malawi
15                              Eritrea
16                          Gambia, The
17                               Guinea
18                                 Chad
19                              Senegal
20                                Sudan
21               Congo, Republic of the
22                        Cote d'Ivoire
23                           Mozambique
24                                Niger
25                              Comoros
26                    Equatorial Guinea
27                         Burkina Faso
28                           Seychelles
29                               Rwanda
30                               Angola
31                                Benin
32                                Kenya
33                                 Mali
34                                Gabon
35                           Mauritania
36                           Cape Verde
37                             Cameroon
38                             Ethiopia
39                              Namibia
40                                Egypt
41                                Ghana
42                             Djibouti
43                              Algeria
44                             Tanzania
45                               Uganda
46                             Botswana
47                         South Africa
48                              Tunisia
49                              Morocco
50                            Mauritius
Name: Country, dtype: object

In [7]:
#o los porcentajes, que son del tipo int64 (números).

pobreza['Population below poverty line (%)']

0     72
1     71
2     70
3     70
4     67
5     66
6     65
7     63
8     63
9     62
10    57
11    55
12    54
13    54
14    51
15    50
16    48
17    47
18    47
19    47
20    47
21    47
22    46
23    46
24    45
25    45
26    44
27    40
28    39
29    39
30    37
31    36
32    36
33    36
34    34
35    31
36    30
37    30
38    30
39    29
40    28
41    24
42    23
43    23
44    23
45    21
46    19
47    17
48    16
49    15
50     8
Name: Population below poverty line (%), dtype: int64

In [9]:
#Otra sintaxis posible para acceder a estos datos es usar . en lugar de [''].

pobreza.Country

0                              Zimbabwe
1                            Madagascar
2                          Sierra Leone
3                               Nigeria
4                         Guinea-Bissau
5                 Sao Tome and Principe
6                               Burundi
7     Congo, Democratic Republic of the
8                             Swaziland
9              Central African Republic
10                              Lesotho
11                                 Togo
12                               Zambia
13                              Liberia
14                               Malawi
15                              Eritrea
16                          Gambia, The
17                               Guinea
18                                 Chad
19                              Senegal
20                                Sudan
21               Congo, Republic of the
22                        Cote d'Ivoire
23                           Mozambique
24                                Niger
25                              Comoros
26                    Equatorial Guinea
27                         Burkina Faso
28                           Seychelles
29                               Rwanda
30                               Angola
31                                Benin
32                                Kenya
33                                 Mali
34                                Gabon
35                           Mauritania
36                           Cape Verde
37                             Cameroon
38                             Ethiopia
39                              Namibia
40                                Egypt
41                                Ghana
42                             Djibouti
43                              Algeria
44                             Tanzania
45                               Uganda
46                             Botswana
47                         South Africa
48                              Tunisia
49                              Morocco
50                            Mauritius
Name: Country, dtype: object

In [11]:
#Lo que se comprueba con

pobreza.Country is pobreza['Country']

True

In [12]:
#Probemos añadir una nueva columna a la tabla ya existente

pobreza['Population above poverty line (%)'] = 100 - pobreza['Population below poverty line (%)']
pobreza

,Country,Population below poverty line (%),Year,Population above poverty line (%)
0,Zimbabwe,72,2019,28
1,Madagascar,71,2019,29
2,Sierra Leone,70,2019,30
3,Nigeria,70,2019,30
4,Guinea-Bissau,67,2019,33
5,Sao Tome and Principe,66,2019,34
6,Burundi,65,2019,35
7,"Congo, Democratic Republic of the",63,2019,37
8,Swaziland,63,2019,37
9,Central African Republic,62,2019,38
10,Lesotho,57,2019,43
11,Togo,55,2019,45
12,Zambia,54,2019,46
13,Liberia,54,2019,46
14,Malawi,51,2019,49
15,Eritrea,50,2019,50
16,"Gambia, The",48,2019,52
17,Guinea,47,2019,53
18,Chad,47,2019,53
19,Senegal,47,2019,53
20,Sudan,47,2019,53
21,"Congo, Republic of the",47,2019,53
22,Cote d'Ivoire,46,2019,54
23,Mozambique,46,2019,54
24,Niger,45,2019,55
25,Comoros,45,2019,55
26,Equatorial Guinea,44,2019,56
27,Burkina Faso,40,2019,60
28,Seychelles,39,2019,61
29,Rwanda,39,2019,61
30,Angola,37,2019,63
31,Benin,36,2019,64
32,Kenya,36,2019,64
33,Mali,36,2019,64
34,Gabon,34,2019,66
35,Mauritania,31,2019,69
36,Cape Verde,30,2019,70
37,Cameroon,30,2019,70
38,Ethiopia,30,2019,70
39,Namibia,29,2019,71
40,Egypt,28,2019,72
41,Ghana,24,2019,76
42,Djibouti,23,2019,77
43,Algeria,23,2019,77
44,Tanzania,23,2019,77
45,Uganda,21,2019,79
46,Botswana,19,2019,81
47,South Africa,17,2019,83
48,Tunisia,16,2019,84
49,Morocco,15,2019,85
50,Mauritius,8,2019,92

In [13]:
#Arreglo de datos de pobreza

pobreza.values

array([['Zimbabwe', 72, 2019, 28],
       ['Madagascar', 71, 2019, 29],
       ['Sierra Leone', 70, 2019, 30],
       ['Nigeria', 70, 2019, 30],
       ['Guinea-Bissau', 67, 2019, 33],
       ['Sao Tome and Principe', 66, 2019, 34],
       ['Burundi', 65, 2019, 35],
       ['Congo, Democratic Republic of the', 63, 2019, 37],
       ['Swaziland', 63, 2019, 37],
       ['Central African Republic', 62, 2019, 38],
       ['Lesotho', 57, 2019, 43],
       ['Togo', 55, 2019, 45],
       ['Zambia', 54, 2019, 46],
       ['Liberia', 54, 2019, 46],
       ['Malawi', 51, 2019, 49],
       ['Eritrea', 50, 2019, 50],
       ['Gambia, The', 48, 2019, 52],
       ['Guinea', 47, 2019, 53],
       ['Chad', 47, 2019, 53],
       ['Senegal', 47, 2019, 53],
       ['Sudan', 47, 2019, 53],
       ['Congo, Republic of the', 47, 2019, 53],
       ["Cote d'Ivoire", 46, 2019, 54],
       ['Mozambique', 46, 2019, 54],
       ['Niger', 45, 2019, 55],
       ['Comoros', 45, 2019, 55],
       ['Equatorial Guinea', 44, 2019, 56],
       ['Burkina Faso', 40, 2019, 60],
       ['Seychelles', 39, 2019, 61],
       ['Rwanda', 39, 2019, 61],
       ['Angola', 37, 2019, 63],
       ['Benin', 36, 2019, 64],
       ['Kenya', 36, 2019, 64],
       ['Mali', 36, 2019, 64],
       ['Gabon', 34, 2019, 66],
       ['Mauritania', 31, 2019, 69],
       ['Cape Verde', 30, 2019, 70],
       ['Cameroon', 30, 2019, 70],
       ['Ethiopia', 30, 2019, 70],
       ['Namibia', 29, 2019, 71],
       ['Egypt', 28, 2019, 72],
       ['Ghana', 24, 2019, 76],
       ['Djibouti', 23, 2019, 77],
       ['Algeria', 23, 2019, 77],
       ['Tanzania', 23, 2019, 77],
       ['Uganda', 21, 2019, 79],
       ['Botswana', 19, 2019, 81],
       ['South Africa', 17, 2019, 83],
       ['Tunisia', 16, 2019, 84],
       ['Morocco', 15, 2019, 85],
       ['Mauritius', 8, 2019, 92]], dtype=object)

In [14]:
#Así como el transponer la tabla, intercambiando columnas por renglones y viceversa

pobreza.T

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Country,Zimbabwe,Madagascar,Sierra Leone,Nigeria,Guinea-Bissau,Sao Tome and Principe,Burundi,"Congo, Democratic Republic of the",Swaziland,Central African Republic,...,Ghana,Djibouti,Algeria,Tanzania,Uganda,Botswana,South Africa,Tunisia,Morocco,Mauritius
Population below poverty line (%),72,71,70,70,67,66,65,63,63,62,...,24,23,23,23,21,19,17,16,15,8
Year,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
Population above poverty line (%),28,29,30,30,33,34,35,37,37,38,...,76,77,77,77,79,81,83,84,85,92

In [15]:
pobreza.values[0]

array(['Zimbabwe', 72, 2019, 28], dtype=object)

In [16]:
pobreza['Country']

0                              Zimbabwe
1                            Madagascar
2                          Sierra Leone
3                               Nigeria
4                         Guinea-Bissau
5                 Sao Tome and Principe
6                               Burundi
7     Congo, Democratic Republic of the
8                             Swaziland
9              Central African Republic
10                              Lesotho
11                                 Togo
12                               Zambia
13                              Liberia
14                               Malawi
15                              Eritrea
16                          Gambia, The
17                               Guinea
18                                 Chad
19                              Senegal
20                                Sudan
21               Congo, Republic of the
22                        Cote d'Ivoire
23                           Mozambique
24                                Niger
25                              Comoros
26                    Equatorial Guinea
27                         Burkina Faso
28                           Seychelles
29                               Rwanda
30                               Angola
31                                Benin
32                                Kenya
33                                 Mali
34                                Gabon
35                           Mauritania
36                           Cape Verde
37                             Cameroon
38                             Ethiopia
39                              Namibia
40                                Egypt
41                                Ghana
42                             Djibouti
43                              Algeria
44                             Tanzania
45                               Uganda
46                             Botswana
47                         South Africa
48                              Tunisia
49                              Morocco
50                            Mauritius
Name: Country, dtype: object

In [31]:
#Probamos los distintos tipos de etiquetas para las columnas y renglones de las tablas

pobreza.iloc[:2, :2]

#Tomamos hasta el renglón 2 y hasta la columa 2 con iloc

      Country  Population below poverty line (%)
0    Zimbabwe                                 72
1  Madagascar                                 71

In [29]:
#De forma alternativa con loc

pobreza.loc[:'1', :'Population below poverty line (%)']

      Country  Population below poverty line (%)
0    Zimbabwe                                 72
1  Madagascar                                 71

In [36]:
#Supongamos que solo nos interesan aquellos países con porcentaje de pobreza superior al 50 porciento, usamos

pobreza.loc[pobreza['Population below poverty line (%)'] > 50, ['Country', 'Population below poverty line (%)']]

                              Country  Population below poverty line (%)
0                            Zimbabwe                                 72
1                          Madagascar                                 71
2                        Sierra Leone                                 70
3                             Nigeria                                 70
4                       Guinea-Bissau                                 67
5               Sao Tome and Principe                                 66
6                             Burundi                                 65
7   Congo, Democratic Republic of the                                 63
8                           Swaziland                                 63
9            Central African Republic                                 62
10                            Lesotho                                 57
11                               Togo                                 55
12                             Zambia                                 54
13                            Liberia                                 54
14                             Malawi                                 51

In [39]:
#En el caso de poseer un dato equivocado, es posible modificarlo. Digamos que el porcentaje de pobreza en
#Zimbabwe es del 80 porciento en vez del 72, usamos

pobreza.iloc[0, 1] = 80

pobreza.iloc[:1, :2]

    Country  Population below poverty line (%)
0  Zimbabwe                                 80

In [40]:
#Para obtener una tabla que contenga países con el mismo porcentaje de pobreza

pobreza.loc[pobreza['Population below poverty line (%)'] == 70, ['Country', 'Population below poverty line (%)']]

        Country  Population below poverty line (%)
2  Sierra Leone                                 70
3       Nigeria                                 70

In [42]:
#Hasta ahora hemos trabajado solo con la tabla de pobreza, pero podemos hacer uso del resto de tablas
#uniéndolas mediante el uso de merge

crisis = pd.merge(fuerza, desempleo)
crisis

#donde se ha fusionado los datos de la tabla de desempleo por la parte derecha

                     Country  Labor force  Year  Unemployment rate (%)
0                    Nigeria     60080000  2017                     17
1                      Egypt     29950000  2017                     12
2               South Africa     22190000  2017                     28
3                 Madagascar     13400000  2017                      2
4                 Mozambique     12900000  2017                     25
5                    Morocco     12000000  2017                     10
6                    Algeria     11820000  2017                     12
7                     Malawi      7000000  2013                     20
8                      Niger      6500000  2017                      0
9                       Mali      6447000  2017                      8
10                    Guinea      5558000  2017                      3
11                   Tunisia      4054000  2017                     16
12              Sierra Leone      2972000  2017                     15
13                   Eritrea      2710000  2017                      6
14  Central African Republic      2242000  2017                      7
15                Mauritania      1437000  2017                     10
16                 Mauritius       633900  2017                      7
17     Sao Tome and Principe        72600  2017                     12
18                Seychelles        47210  2017                      3

In [46]:
#Podemos ignorar el año mediante

crisis_sin = pd.merge(fuerza, desempleo).drop('Year', axis = 1)
crisis_sin

#dando como resultado una tabla sin datos innecesarios

                     Country  Labor force  Unemployment rate (%)
0                    Nigeria     60080000                     17
1                      Egypt     29950000                     12
2               South Africa     22190000                     28
3                 Madagascar     13400000                      2
4                 Mozambique     12900000                     25
5                    Morocco     12000000                     10
6                    Algeria     11820000                     12
7                     Malawi      7000000                     20
8                      Niger      6500000                      0
9                       Mali      6447000                      8
10                    Guinea      5558000                      3
11                   Tunisia      4054000                     16
12              Sierra Leone      2972000                     15
13                   Eritrea      2710000                      6
14  Central African Republic      2242000                      7
15                Mauritania      1437000                     10
16                 Mauritius       633900                      7
17     Sao Tome and Principe        72600                     12
18                Seychelles        47210                      3